.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info>button {
  background: #07119b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #e6dfcf #b3b2af #dfdcd4;
  color: #fff;
  padding: 5px 10px;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}