.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.home__image {
  width: 100%;
  height: 400px;
  z-index: -1;
  margin-bottom: -50px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.home__hero {
  position: relative;
  width: 100%;
  height: 400px;
}

.home__heroText,
.home__heroSub {
  position: absolute;
  color: #07119b;
  z-index: 10;
  text-align: center;
  width: 100%;
}

.home__heroText {
  top: 20%;
  font-size: 3rem;
  font-weight: bold;
}

.home__heroSub {
  top: 30%;
  font-size: 1.3rem;
  opacity: 0.9;
  font-weight: bold;
}