.login {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  display: flex;
  margin: 30px 10px;
}

.login__logoImage {
  color: #07119b;
}

.login__logoTitle {
  color: #07119b;
}

.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  background-color: #07119b;
}

.login__container h1 {
  font-weight: 500;
  margin-bottom: 20px;
  color: white;
}

.login__container>form>h5 {
  margin-bottom: 5px;
  color: white;
}

.login__container>form>input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.login__container>p {
  margin-top: 15px;
  font-size: 12px;
  color: white;
}

.login__signInButton {
  background-color: darkgray;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  color: blue;
  border-color: #f1efec #e7e1d0 #ece9e0;
}

.login__registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  color: blue;
  border-color: darkgray;
}