.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 5px 5px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  min-width: 100px;
  background-color: rgba(248, 242, 242, 0.95);
  border-radius: 4px;
  z-index: 1;
  border: 2px solid blue;
}

.product__rating {
  display: flex;
}

.product>img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin: 20px 0 0 15px;
}

.product>button {
  background: blue;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-top: 10px;
  border-color: #f1efec #e7e1d0 #ece9e0;
  border-radius: 4px;
  color: #fff;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}